@model IEnumerable<AutosExchange.Models.Listing>

@{
    ViewBag.Title = "My Listings";
}

<h2>@ViewBag.Title</h2>


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trim)
        </th>
        <th>
            Kilometers
        </th>
        <th>
            New or Used
        </th>
        <th>
            Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drivetrain)
        </th>
        <th>
            Fuel Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transmission)
        </th>
        <th>
            Fuel Economy
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldPrice)
        </th>
        <th>
            Options
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KM)
        </td>
        <td>
            @(item.isNewCar ?"Yes" : "No")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drivetrain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transmission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelEconomy)
        </td>
        <td>
            @(item.isAvailable ? "Yes" : "No")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoldPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ListingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ListingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ListingId })
        </td>
    </tr>
}

</table>
